<?xml version='1.0' encoding='utf-8'?>
<widget id="com.davidsvane.mt"
        version="1.1.9e"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"> <!-- stackoverflow: 54752716 -->

    <name>MusicalTeatret</name>
    <description>MusicalTeatrets Officielle App</description>
    <author email="davidsvane@yahoo.dk" href="https://www.facebook.com/davidsvane">David Svane</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="http://*/*" launch-external="yes"/>
    <allow-intent href="https://*/*" launch-external="yes"/>

    <allow-navigation href="*musicalteatret.dk*"/> <!-- PREV: http://www.musicalteatret.dk/* -->
    <allow-navigation href="*davidsvane.com*"/> <!-- PREV: https://davidsvane.com/* -->
    <allow-navigation href="*youtube*" /> <!-- NEEDED FOR EMBEDDED YOUTUBE VIDEO -->
    <allow-navigation href="*ytimg*" /> <!-- NEEDED FOR EMBEDDED YOUTUBE VIDEO -->
    <allow-navigation href="*youtube-nocookie*" /> <!-- NEEDED FOR EMBEDDED YOUTUBE VIDEO -->

    <platform name="android">
        <preference name="android-minSdkVersion" value="19" /> <!-- 19 TO COMPLY WITH cli-9.0.0 -->
        <preference name="android-targetSdkVersion" value="28" /> <!-- 28 (google) REQUIRES https OR usesCleartextTraffic="true" -->

        <allow-intent href="market:*" />

        <!-- MORE THAN cli-6.5.0 -->
        <!-- stackoverflow: 54752716 -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <!-- ONLY cli-6.5.0 -->
        <!-- http://docs.phonegap.com/phonegap-build/configuring/config-file-element/ -->
        <!--<config-file platform="android" target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
            <application android:usesCleartextTraffic="true" />
        </config-file>-->

		    <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />

		    <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon-small@3x.png" width="87" />
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" /> <!-- NEEDED FOR EMBEDDED YOUTUBE VIDEO -->
    <preference name="MediaPlaybackRequiresUserAction" value="false" /> <!-- NEEDED FOR EMBEDDED YOUTUBE VIDEO -->
    <preference name="phonegap-version" value="cli-9.0.0" /> <!-- CLI VERSION DEFAULTS TO 6.5.0 -->

    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3" />
</widget>
